{{ define "main" }}
<main>
	<article>
		<div class="title">
      	    <h1 class="title">
			  {{- if (.Param "upcoming") }}<sup><span class="talk-isupcoming">[upcoming]&nbsp;</span></sup>{{- end }}
			  {{ .Title }}
			</h1>
		</div>
		
		  <div class="talk-meta">
		    {{- with (.Param "performDate") }}
		        {{- (printf "%s" ((.) | time.Format "2 January 2006")) }}
		    {{- end }}
		    &nbsp;·&nbsp;
    		<a href="{{ (.Param "eventUrl") }}" target="BLANK">{{ (.Param "location") }}</a>
  		</div>

		<div class="talk-content">
		    {{- if not (.Param "disableAnchoredHeadings") }}

			<div>
			{{- if (.Param "summary") }}
		    	<h2>Abstract:</h2>
		    	{{ .Param "summary" | safeHTML }}
		    {{- end}}
			</div>

		
		    {{- if (.Param "speakerdeck") }}
		    <h2>Slides:</h2>
		    <script async class="speakerdeck-embed" data-id="{{ .Param "speakerdeck" }}" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>
		    {{- end}}
		
		    {{- if (.Param "youtube") }}
		    <h2>Video</h2>
		    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
		        <iframe src="https://www.youtube-nocookie.com/embed/{{ (.Param "youtube") }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0; allowfullscreen;"></iframe>
		    </div>
		    {{- end}}
		
		    {{- if (.Param "vimeo") }}
		    <h2>Video</h2>
		    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
		        <iframe src="https://player.vimeo.com/video/{{ (.Param "vimeo") }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		    </div>
		    {{- end}}
		
		    {{- if (.Param "sampleCode") }}
		    <h2>Sample Code:</h2>
		    <div>
		        <a href="{{ (.Param "sampleCode") }}" target="BLANK">{{ (.Param "sampleCode") }}</a>
		    </div>
		    {{- end}}
		
			<div class="body">
		    {{- .Content -}}
			</div>
		  </div>
		  {{- end }}
	</article>
</main>
{{ end }}
