<article class="first-entry home-info">
    <img class="avatar"  style="width: 8rem; height: auto; border-radius: 50%; elevation: 50deg; box-shadow(0 0 0 .3618em rgba(0, 0, 0, .05));" src="/img/profile.webp">
    <br>
    <header class="entry-header">
        <h1>{{ "Hi \U0001F44B" | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <p>I'm Marco, a software engineer and a Google Developer Expert for Kotlin, currently working at <a href="https://www.tier.app/" target="BLANK">TIER</a> as Senior Android Engineer.</p>
        <br>
        <p>I <a href="/projects">build</a>, <a href="/posts">write</a> and <a href="/talks">speak</a> about stuff.</p>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
