{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
    {{- /* Featured image */ -}}
    {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
    {{- with .Resources.GetMatch "featured-image" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with .Resources.GetMatch "featured-image-preview" -}}
        {{- $image = .RelPermalink -}}
    {{- end -}}
    {{- with $image -}}
        <div class="featured-image-preview">
            <a href="{{ $.RelPermalink }}">
                {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
            </a>
        </div>
    {{- end -}}

    {{- /* Title */ -}}
    <h1 class="single-title-list" itemprop="name headline">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h1>

    {{- /* Meta */ -}}
    <div class="post-meta">
        {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
        {{- printf `<time datetime="%v">%v</time>` . . | dict "Date" | T "publishedOnDate" | safeHTML -}}
        {{- end -}}
    </div>
    
    <br>
    {{- /* Summary content */ -}}
    <div class="content">
        {{ if .Params.show_description }}
            <p>{{ .Params.description }}</p>
        {{ else }}
            {{ $summary := .Summary }}
            {{ $REin := `:\(([\w- ]+?)\):` }}
            {{ $REout := `<i class="$1 fa-fw"></i>` }}
            {{ $summary  = replaceRE $REin $REout $summary  }}
            {{ $REin = `\[(.+?)\]\^\((.+?)\)` }}
            {{ $REout = `<strong><ruby>$1<rt>$2</rt></ruby></strong>` }}
            {{ $summary  = replaceRE $REin $REout $summary  }}
            {{ $summary  | safeHTML | truncate 180 }}
        {{ end }}
    </div>

    {{- /* Footer */ -}}
    <div class="post-footer-section">
        <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
        {{- with .Params.tags -}}
            <div class="post-tags">
                <i class="fas fa-tags fa-fw"></i>&nbsp;
                {{- range $index, $value := . -}}
                    {{- if gt $index 0 }},&nbsp;{{ end -}}
                    {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                    <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                {{- end -}}
            </div>
        {{- end -}}
    </div>

    <hr>
</article>