{{ define "title" }}{{ T .Section | default .Section | humanize }} | {{ .Site.Title }}{{ end -}}

{{ define "content" -}}
    {{ $data := .Data -}}
    {{ $section := .Section -}}


        {{ if eq $section "posts" -}}
            <div class="post-warp archive">
                <h1 class="post-section-title">
                        {{ T .Section | default .Section | humanize }}
                </h1>
                {{ $paginator := where .Site.RegularPages "Type" "posts" -}}
                {{ with .Site.Params.home_paginate -}}
                    {{ $paginator = $.Paginate $paginator . -}}
                {{ else -}}
                    {{ $paginator = $.Paginate $paginator -}}
                {{ end -}}
                {{ range $paginator.Pages -}}
                    {{ .Render "postItem" -}}
                {{ end -}}
                
                {{ partial "paginator.html" . -}}
            </div>
        {{ else -}}

        <div class="post-warp archive">
            <h1 class="post-section-title">
                {{ T .Section | default .Section | humanize }}
            </h1>

            <div class="post-content">Do you want me to speak at your conference or meetup? Feel free to reach out on <a href="https://twitter.com/marcoGomier">Twitter</a>, my DMs are open.
                Drop me an email at marco.gomiero.93[at]gmail[dot]com.</div>
    
            <p>email: </p>

            <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'&'+'#'+'1'+'0'+'9'+';'+'&'+'#'+'9'+'7'+';'+'&'+'#'+'1'+'0'+'5'+\n';'+'l'+'&'+'#'+'1'+'1'+'6'+';'+'&'+'#'+'1'+'1'+'1'+';'+'&'+'#'+'5'+'8'+';'+'J'+'o'+'%'+'&'+'#'+'5'+\n'4'+';'+'8'+'%'+'6'+'E'+'%'+'2'+'E'+'D'+'&'+'#'+'1'+'1'+'1'+';'+'e'+'&'+'#'+'3'+'7'+';'+'4'+'0'+'e'+\n'x'+'%'+'&'+'#'+'5'+'4'+';'+'1'+'%'+'6'+'D'+'p'+'l'+'e'+'&'+'#'+'3'+'7'+';'+'&'+'#'+'5'+'0'+';'+'E'+\n'&'+'#'+'9'+'9'+';'+'%'+'6'+'F'+'m'+"'"+'>'+'&'+'#'+'7'+'4'+';'+'o'+'&'+'#'+'1'+'0'+'4'+';'+'n'+'&'+\n'#'+'4'+'6'+';'+'D'+'o'+'e'+'&'+'#'+'6'+'4'+';'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'1'+'2'+'0'+';'+'&'+\n'#'+'9'+'7'+';'+'m'+'p'+'l'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'4'+'6'+';'+'c'+'o'+'m'+'<'+'/'+'a'+'>'\n);</script><noscript>[Turn on JavaScript to see the email address]</noscript>

            <a href='&#109;&#97;&#105;l&#116;&#111;&#58;Jo%&#54;8%6E%2ED&#111;e&#37;40ex%&#54;1%6Dple&#37;&#50;E&#99;%6Fm'>&#74;o&#104;n&#46;Doe&#64;&#101;&#120;&#97;mpl&#101;&#46;com</a>

            <br>

            {{- range (.Paginate (.Pages.GroupByDate "2006")).PageGroups -}}
                <br>    
                <h2>{{ .Key }}</h2>
                <br>
                {{- range .Pages -}}
                    {{ .Render "talkItem" -}}
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        </div>

            <!-- {{- range (.Paginate (.Pages.GroupByDate "2006")).PageGroups -}}
            <h3>{{ .Key }}</h3>
            {{- range .Pages -}}
                <article class="archive-item">
                    <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>
                    <span class="archive-item-date">
                        {{- .Date.Format (.Site.Params.dateFormatToUse | default "01-02") -}}
                    </span>
                </article>
            {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}} -->
        {{ end -}}

        



    </div>
{{- end }}
