{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

    {{ $data := .Data -}}
    {{ $section := .Section -}}

    {{ if eq $section "posts" -}}
            <div class="page archive">
                <br>
                <h1 class="section-title">
                        {{ T .Section | default .Section | humanize }}
                </h1>
                {{ $paginator := where .Site.RegularPages "Type" "posts" -}}
                {{ with .Site.Params.section.paginate -}}
                    {{ $paginator = $.Paginate $paginator . -}}
                {{ else -}}
                    {{ $paginator = $.Paginate $paginator -}}
                {{ end -}}
                {{ range $paginator.Pages -}}
                    {{ .Render "postItem" -}}
                {{ end -}}
                
                {{ partial "paginator.html" . -}}
            </div>
        {{ else -}}
            <div class="page archive">  
                <br>          
                <h1 class="section-title">
                        {{ T .Section | default .Section | humanize }}
                </h1>
                <div class="content">Do you want me to speak at your conference or meetup? Feel free to reach out on <a href="https://twitter.com/marcoGomier" target="_blank">Twitter</a>, my DMs are open.</div>
    
                <br>

                {{- range (.Paginate (.Pages.GroupByDate "2006")).PageGroups -}}
                    <h2>{{ .Key }}</h2>
                   
                    {{- range .Pages -}}
                        {{ .Render "talkItem" -}}
                    {{- end -}}
                {{- end -}}
                {{- partial "paginator.html" . -}}
            </div>
        {{ end -}}
{{- end -}}
