@import "_home";

.post-warp {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 6rem;

  @import "_post";
  @import "_posts";
}

.archive {
  .post-section-title {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3rem;
  }
  .post-title {
    text-align: left;
  }

  @import "_terms";
  @import "_tags";
}

.single {
  .post-title {
    text-align: right;
    padding-bottom: 2rem;
  }
}