.project-isdeprecated {
    font-size: 14px;
    color: var(--secondary);
}

.project-button {
    color: var(--theme);
    font-size: 13px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 12px;
    margin: 16px 16px 16px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 125px;
}

.project-button > svg {
    stroke: var(--theme);
    width: 20px;
}

.project-button > a {
    color: var(--theme);
    font-size: 13px;
    background: var(--primary);
}