<section style="width: 90%; margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 30px;">
<hr/>
<div style="padding: 25px;">
<div class="post-content">To stay up to date with my writing and my projects, follow me on <a href="https://twitter.com/marcoGomier" target="_blank">Twitter</a>. If you have any questions, feel free to reach me out!</div>
<!-- <div>Keep up to date with my writings and my projects by subscribing to my newsletter. I write about mobile development, with a focus on Kotlin, Kotlin Multiplatform and declarative patterns. And don't worry, I will not DDoS your inbox. I'll only write when something new & interesting comes up:</div>
<form style="padding-bottom:20px;"
   action="https://tinyletter.com/marcogomiero"
   method="post" target="popupwindow"
   onsubmit="window.open('https://tinyletter.com/marcogomiero',
   'popupwindow', 'scrollbars=yes,width=800,height=600');return true;">
   <p><input type="email" style="width: 80%; border: 1px solid #e0e0e0;
        border-radius: 2px;
        color: #5c5e60;
        background-color: rgba(255, 255, 255, 1);
        height: 57px;
        padding-left: 15px;
        " name="email" id="tlemail"
        placeholder="Your email address" /></p>
   <input type="hidden" value="1" name="embed"/>
   <input type="submit" value="Subscribe" class="button" style="" />
</form> -->
</div>
<hr/>
</section>
