{{ define "main" }}
<h1 class="page-title">Write</h1>

<main class="list">
	{{ $pages := where .Site.RegularPages "Type" "in" "posts" }}
	{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
	{{ range $paginator.Pages }}
	<a href="{{ .RelPermalink }}">
		<section class="post-list-entry">
			<h2 class="postlist-entry-title">{{.Title}}</h2>
	    	<div class="post-list-entry-content">
				<p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
			</div>
			<div class="post-list-entry-meta">
				{{- partial "post_meta.html" . -}}
			</div>
		</section>
	</a>
	{{ end }}
	{{ template "partials/paginator.html" . }}
</main>

{{ end }}
