<header>
	<div class="main">
		<a href="{{ .Site.BaseURL }}">
			<h2>{{ .Site.Title }}</h2>
		</a>
	</div>

	{{- $currentPage := . }}
	<nav class="navbar">
		{{ range .Site.Menus.main }}
	    {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
        {{- $page_url:= $currentPage.Permalink | absLangURL }}

	 	<a href="{{ .URL }}">
			<span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
				{{ .Name }}
			</span>
		</a>
		{{ end }}
		{{ if eq .Site.Params.mode "toggle" -}}
        | <span class="dark-mode-toggle" id="dark-mode-toggle" onclick="toggleTheme()"></span>
		<script src="{{ .Site.BaseURL }}js/themetoggle.js"></script>
		{{ end }}
	</nav>
</header>
