{{- /* Builds a branded 1200x630 Open Graph card at build time and returns its absolute URL. */ -}}
{{- $base := resources.Get "images/og-base.png" -}}
{{- $bold := resources.Get "fonts/JetBrainsMono-Bold.ttf" -}}
{{- $reg := resources.Get "fonts/JetBrainsMono-Regular.ttf" -}}
{{- $white := "#f8f8f2" -}}
{{- $img := $base -}}

{{- /* Site label, top-left */ -}}
{{- $img = $img.Filter (images.Text "marcogomiero.com" (dict "color" "#57c7ff" "size" 30 "x" 80 "y" 92 "font" $bold)) -}}

{{- /* Title: font size adapts to length so long titles shrink instead of truncating */ -}}
{{- $title := cond (ne .Title "") .Title .Site.Title -}}
{{- if and (not .IsPage) (eq $title .Site.Title) -}}{{ $title = .Site.Params.description }}{{- end -}}
{{- $tlen := len $title -}}
{{- $size := 72 -}}{{- $max := 23 -}}{{- $lh := 92 -}}{{- $maxlines := 3 -}}
{{- if gt $tlen 78 -}}{{- $size = 46 -}}{{- $max = 36 -}}{{- $lh = 60 -}}{{- $maxlines = 5 -}}
{{- else if gt $tlen 50 -}}{{- $size = 56 -}}{{- $max = 29 -}}{{- $lh = 72 -}}{{- $maxlines = 4 -}}
{{- end -}}
{{- $lines := slice -}}
{{- $cur := "" -}}
{{- range (split $title " ") -}}
  {{- $try := cond (eq $cur "") . (printf "%s %s" $cur .) -}}
  {{- if gt (len $try) $max -}}
    {{- if ne $cur "" -}}{{- $lines = $lines | append $cur -}}{{- end -}}
    {{- $cur = . -}}
  {{- else -}}
    {{- $cur = $try -}}
  {{- end -}}
{{- end -}}
{{- if ne $cur "" -}}{{- $lines = $lines | append $cur -}}{{- end -}}
{{- if gt (len $lines) $maxlines -}}
  {{- $li := sub $maxlines 1 -}}
  {{- $lines = (first $li $lines) | append (printf "%s…" (index $lines $li)) -}}
{{- end -}}
{{- $n := len $lines -}}
{{- $y := int (sub 320 (div (mul (sub $n 1) $lh) 2)) -}}
{{- range $lines -}}
  {{- $img = $img.Filter (images.Text . (dict "color" $white "size" $size "x" 80 "y" $y "font" $bold)) -}}
  {{- $y = add $y $lh -}}
{{- end -}}

{{- /* Author, bottom-left */ -}}
{{- $img = $img.Filter (images.Text "Marco Gomiero" (dict "color" $white "size" 30 "x" 80 "y" 556 "font" $bold)) -}}

{{- /* Context meta, bottom-right: "venue · date" for talks, platform for projects, date for posts */ -}}
{{- $meta := "" -}}
{{- $date := "" -}}
{{- if .IsPage -}}
  {{- with .Params.performDate -}}{{ $date = (. | time.Format "2 January 2006") }}
  {{- else -}}{{- if not $.Date.IsZero -}}{{ $date = $.Date.Format "2 January 2006" }}{{- end -}}{{- end -}}
{{- end -}}
{{- with .Params.location -}}
  {{- $meta = cond (ne $date "") (printf "%s · %s" (printf "%v" .) $date) (printf "%v" .) -}}
{{- else -}}{{- with .Params.platforms -}}{{ $meta = printf "%v" . }}
{{- else -}}{{ $meta = $date }}
{{- end -}}{{- end -}}
{{- $meta = trim (printf "%v" $meta) " " -}}
{{- if ne $meta "" -}}
  {{- $mx := sub 1120 (mul (len $meta) 18) -}}
  {{- $img = $img.Filter (images.Text $meta (dict "color" "#9aedfe" "size" 30 "x" $mx "y" 556 "font" $reg)) -}}
{{- end -}}

{{- return $img.Permalink -}}
